


<div class="row row-cols-2 row-cols-md-4">
  <div class="col mb-4 img-fluid" *ngFor="let pokemon of pokemons">
    <div class="card">
      <img [src]="pokemon.sprites.front_default" class="card-img-top" role="button" [routerLink]="['/detail', pokemon.id]" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ pokemon.name }}</h5>
        <p class="card-text">{{ pokemon.id }}</p>
      </div>
    </div>
  </div>
</div>


<div class="text-center" *ngIf="loading === true">
  <i class="fas fa-sync-alt fa-spin fa-6x"></i>
</div>