<div class="container-father">
  
  <div class="container mt-5-5">
  
    <div class="row row-cols-2 row-cols-md-4">
      <div class="col mb-4 img-fluid">
        <div class="card p-2">
          <span class="text-left font-weight-bold"><i class="fab fa-galactic-republic"></i> No. {{ pokemon.id }}</span>
          <img [src]="pokemon.sprites.front_default" class="card-img-top" role="button" [routerLink]="['/detail', pokemon.id]" alt="...">
          <div class="card-body">
            <h5 class="text-center title">{{ pokemon.name }}</h5>
            <!-- <p class="card-text">{{ pokemon.id }}</p> -->
          </div>
        </div>
      </div>
    </div>

</div>




